# Python Code for Stonk Project

In [2]:
import pandas as pd
df = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/%5ENDX?period1=496972800&period2=1632355200&interval=1d&events=history&includeAdjustedClose=true")

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-10-01,110.620003,112.160004,110.565002,112.139999,112.139999,153160000
1,1985-10-02,112.139999,112.540001,110.779999,110.824997,110.824997,164640000
2,1985-10-03,110.839996,111.184998,110.120003,110.870003,110.870003,147300000
3,1985-10-04,110.870003,110.870003,109.855003,110.074997,110.074997,147900000
4,1985-10-07,110.074997,110.135002,108.175003,108.199997,108.199997,128640000

In [3]:
df['Ticker'] = 'NDX'


def percentage_change(col1,col2):
    return ((col2 - col1) / col2) * 100

df['Change'] = percentage_change(df['Open'],df['Close'])

def vwap_calc (col1,col2):
  return (col1*col2).sum()/col2.sum()

df['Vwap'] = vwap_calc(df['Adj Close'],df['Volume'])



df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Change,Vwap
9064,2021-09-16,15452.669922,15539.139648,15370.879883,15515.910156,15515.910156,3681700000,NDX,0.407583,4145.564499
9065,2021-09-17,15481.429688,15485.209961,15291.040039,15333.469727,15333.469727,6682650000,NDX,-0.964948,4145.564499
9066,2021-09-20,15068.650391,15157.259766,14821.030273,15012.190430,15012.190430,4860630000,NDX,-0.376094,4145.564499
9067,2021-09-21,15096.969727,15139.900391,14986.980469,15027.769531,15027.769531,4056340000,NDX,-0.460482,4145.564499
9068,2021-09-22,15073.959961,15230.339844,15029.900391,15176.509766,15176.509766,4229870000,NDX,0.675714,4145.564499

In [4]:
df.to_csv("ndx.csv")